<ion-header>
    <ion-navbar>
        <ion-title>Photos</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let photo of photos; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(photo)">
                <h2>{{photo.title}}</h2>
                <p>{{photo.description}}</p>
                <ion-avatar *ngIf="photo.image">
                    <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" />
                    <p *ngIf="photo.image">{{photo.imageContentType}}, {{byteSize(photo.image)}}</p>
                </ion-avatar>
                <p>{{photo.height}}</p>
                <p>{{photo.width}}</p>
                <p>{{photo.taken | date:'medium'}}</p>
                <p>{{photo.uploaded | date:'medium'}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, photo)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(photo)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!photos?.length">
        No Photos found.
    </ion-item>
</ion-content>
